body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    background-image: url("pdslTemplate.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    padding: 4em 0 0 0;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.template {
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header .PDSL {
    position: fixed;
    top: 30px;
    left: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.section {
    flex: 1;
    min-width: 280px;
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 110px);
}

h2 {
    color: #000;
    font-size: 1.4em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}

th,
td {
    padding: 5px 5px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 15px;
}

td {
    background-color: #fff;
    font-weight: 800;
    text-align: center;
}

td:first-child,
th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

td:last-child,
th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

button {
    padding: 6px 8px;
    background-color: #1f3acc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    transition: background-color 0.8s ease-in;
}

button:hover {
    background-color: #e45b40;
}

/* Media Queries for Responsive Design */

/* Small screens */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
        gap: 10px;
    }

    .section {
        min-width: 100%;
        margin: 10px auto;
        max-width: 100%;
    }
}

/* Medium screens */
@media screen and (max-width: 1024px) {
    header {
        font-size: 1.8rem;
        padding: 3em 0 0 0;
    }

    .template {
        font-size: 1.3em;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

/* Large screens */
@media screen and (max-width: 1440px) {
    header {
        font-size: 1.2rem;
        padding: 1em 0 0 0;
    }

    .template {
        font-size: 1.7em;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1720px) {
    header {
        font-size: 1.5rem;
        padding: 3.2em 0 0 0;
    }

    .template {
        font-size: 2em;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
    
}

@media screen and (min-width: 1960px) {
    header {
        font-size: 4rem;
        padding: 3em 0 0 0;
    }

    .template {
        font-size: 2.5em;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
    
}
